# Ignore build output folders and test reports
target/
test-output/

# Ignore Eclipse settings and binaries
.class.path
.project
.settings/

# Ignore executable binaries if you want (optional)
chromedriver.exe

# Ignore other OS files (optional)
.DS_Store
Thumbs.db